# =========================
# ENTORNOS VIRTUALES
# =========================
venv/
.venv/
env/

# =========================
# CACHÉ DE PYTHON
# =========================
__pycache__/
*.pyc
*.pyo

data/*.dat

# =========================
# DATOS GENERADOS / DATASETS GRANDES
# =========================
src/data/airbnb_10000.csv
src/data/airbnb_100000.csv
src/data/*.idx
src/data/tables/
*.heap

# =========================
# CONFIG LOCAL DE STREAMLIT
# =========================
frontend/.streamlit/

# =========================
.DS_Store
Thumbs.db
.vscode/src/data/*.csv
src/data/*.bin
src/data/*.idx
src/data/bench/
informe.tex